#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [12]:
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [13]:
branch_profit = df.groupby('Branch')['Total'].sum()
print(branch_profit)

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

Найприбутковіший філіал - С

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [14]:
branch_C_cities = df[df['Branch'] == 'C']['City'].unique()
print("Місто з філіалом 'C':", branch_C_cities)

Місто з філіалом 'C': ['Naypyitaw']

In [15]:

unique_branches_in_city_C = df[df['City'] == branch_C_cities[0]]['Branch'].unique()

num_unique_branches_in_city_C = len(unique_branches_in_city_C)

total_branches_in_city_C = len(df[df['City'] == branch_C_cities[0]])

if num_unique_branches_in_city_C < total_branches_in_city_C:
    print(f"Так, можна розмістити ще один магазин у місті '{branch_C_cities[0]}'.")
else:
    print(f"Ні, не можна розмістити ще один магазин у місті '{branch_C_cities[0]}'.")

Так, можна розмістити ще один магазин у місті 'Naypyitaw'.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [18]:
invoices_by_category = df.groupby(['Branch','Product line'])['Invoice ID'].count().reset_index()
invoices_by_category

   Branch            Product line  Invoice ID
0       A  Electronic accessories          60
1       A     Fashion accessories          51
2       A      Food and beverages          58
3       A       Health and beauty          47
4       A      Home and lifestyle          65
5       A       Sports and travel          59
6       B  Electronic accessories          55
7       B     Fashion accessories          62
8       B      Food and beverages          50
9       B       Health and beauty          53
10      B      Home and lifestyle          50
11      B       Sports and travel          62
12      C  Electronic accessories          55
13      C     Fashion accessories          65
14      C      Food and beverages          66
15      C       Health and beauty          52
16      C      Home and lifestyle          45
17      C       Sports and travel          45

In [19]:
invoices_by_category.pivot_table(index = 'Branch',columns = 'Product line', values = 'Invoice ID')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [23]:
invoices_by_category[invoices_by_category['Product line']=='Electronic accessories'].max()

Branch                               C
Product line    Electronic accessories
Invoice ID                          60
dtype: object

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Часові піки покупок: Чи є часові проміжки, коли користувачі здійснюють більше покупок? Наприклад, чи більше покупок відбувається в ранковий час або вечором?

Популярність різних категорій товарів за містами: Які категорії товарів є найбільш популярними у різних містах? Наприклад, чи більше продажів електроніки в одному місті порівняно з іншим?

Гендерний аналіз: Чи існує кореляція сумою доходу і генедером? І можливо треба дослідити категорії товарів за генедром.

In [24]:
### часові піки покупок

hourly_purchase_counts = df.groupby(df['Time'].str.split(':').str[0])['Invoice ID'].count()
print(hourly_purchase_counts)

Time
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Invoice ID, dtype: int64

Оптимізація графіку роботи: Нами було виявлено часові піки - 10,13,15 година ранку і 19 година вечора, бізнес може розглянути можливість збільшення кількості персоналу або проведення маркетингових акцій у цей період.

In [26]:
#Популярність різних категорій товарів за містами
category_city_sales = df.groupby(['Product line', 'City'])['Quantity'].sum()
category_city_gross_income = df.groupby(['Product line', 'City'])['gross income'].sum()
print(category_city_gross_income)

Product line            City
Electronic accessories  Mandalay      811.9735
                        Naypyitaw     903.2845
                        Yangon        872.2435
Fashion accessories     Mandalay      781.5865
                        Naypyitaw    1026.6700
                        Yangon        777.7385
Food and beverages      Mandalay      724.5185
                        Naypyitaw    1131.7550
                        Yangon        817.2905
Health and beauty       Mandalay      951.4600
                        Naypyitaw     791.2060
                        Yangon        599.8930
Home and lifestyle      Mandalay      835.6745
                        Naypyitaw     661.6930
                        Yangon       1067.4855
Sports and travel       Mandalay      951.8190
                        Naypyitaw     750.5680
                        Yangon        922.5095
Name: gross income, dtype: float64

Асортимент товарів: Знання популярних категорій товарів у різних містах допоможе бізнесу оптимізувати асортимент товарів у кожному філіалі для максимального задоволення попиту покупців. Так наприклад ми бачимо що найбільший дохід по категорії фешн ма маємо по другому місту - отже можливо тут ми продовжуємо збільшувати товари цієї категорії, а якщо в інших містах більш дохідні інші групи товарів отже ми робимо акцент в кожному місті на найбільш прибуткову категорію товарів. Та другий підхид - після визначення найбільш прибуткових груп товарів - можемо збільшувати акції на ці групи товарів в тих містах - де вони приносять менший дохід і збільшити там дохід.

In [27]:
#Гендерний аналіз
male_data = df[df['Gender'] == 'Male']
female_data = df[df['Gender'] == 'Female']

male_income = male_data['gross income'].sum()
female_income = female_data['gross income'].sum()

# Згрупування за типами товарів та виконання підрахунку сумарного доходу для кожного типу товарів
male_category_income = male_data.groupby('Product line')['gross income'].sum()
female_category_income = female_data.groupby('Product line')['gross income'].sum()

# Виведення результатів
print("Сумарний дохід для чоловіків:", male_income)
print("Сумарний дохід для жінок:", female_income)

print("\nСумарний дохід за типами товарів для чоловіків:")
print(male_category_income)

print("\nСумарний дохід за типами товарів для жінок:")
print(female_category_income)

Сумарний дохід для чоловіків: 7384.944
Сумарний дохід для жінок: 7994.424999999999

Сумарний дохід за типами товарів для чоловіків:
Product line
Electronic accessories    1296.9290
Fashion accessories       1136.5950
Food and beverages        1093.9965
Health and beauty         1458.7025
Home and lifestyle        1134.5255
Sports and travel         1264.1955
Name: gross income, dtype: float64

Сумарний дохід за типами товарів для жінок:
Product line
Electronic accessories    1290.5725
Fashion accessories       1449.4000
Food and beverages        1579.5675
Health and beauty          883.8565
Home and lifestyle        1430.3275
Sports and travel         1360.7010
Name: gross income, dtype: float64

Сумарний дохід вищий ніж у чоловіків і основні категорії по яким найвищий дохід - їжі - одже значит жінки просто частіше роблять закупи продуктів - саме тому тут найвищий дохід - одже можливо необхідно зробити для жінок якісь більш направлені акції саме на ці групи товарів - можливо роздавати акційні пропозиції жінкам на касі для наступних покупок. По чоловікам найбільший дохід по категорії товарів - Health and beauty а також електроніка і спорт товари - отдже в подальшому ще можливо подивитис в яких містах більше роблять покупки чоловіки і там зробити акцент на цих групах товарів найбільше. Так само можна зробити і для жінок.