# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [33]:
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [34]:
df.sort_values(by="Unit price", ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [4]:
df[df['Product line'] == 'Electronic accessories'][['Quantity', 'Unit price']].sort_values(by=['Quantity', 'Unit price'], ascending=False).head(1)

     Quantity  Unit price
105        10       88.67

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [5]:
import random
values = [random.choice([1,2,3,4,5,6,7,8]) for _ in range(len(df))]
df['random_category'] = values
df['Rating Category'] = df.random_category
def category_mapping(val):
    if val >= 8:
        return 'High'
    elif val >= 6 and val <=8:
        return 'Medium'
    else:
        return 'Low'
df['Rating Category'] = df.random_category.apply(lambda x: category_mapping(x))
df[['random_category', 'Rating Category']].head()

   random_category Rating Category
0                1             Low
1                6          Medium
2                5             Low
3                6          Medium
4                7          Medium

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [6]:
rating_counts = df['Rating Category'].value_counts()

total_rows = len(df)

for category, count in rating_counts.items():
    percentage = (count / total_rows) * 100
    print(f'{category}: {percentage:.2f}%')

Low: 63.50%
Medium: 25.00%
High: 11.50%

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [36]:
def get_hour(time):
    return int(time.split(':')[0])

In [37]:
df['Time'].head(10)

0    13:08
1    10:29
2    13:23
3    20:33
4    10:37
5    18:30
6    14:36
7    11:38
8    17:15
9    13:27
Name: Time, dtype: object

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [38]:
df['Hour'] = df['Time'].apply(get_hour)

print(df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating  \
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

   Hour
0    13
1    10
2    13
3    20
4    10

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [39]:
hourly_purchase_count = df['Hour'].value_counts()
print(hourly_purchase_count)

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

О 19 годині досить логічно, що здійснюється більшість покупок - так як це вечірній час і більшість людей повертається з роботи і здійснює велику кількість покупок після роботи перед поверненням додомую О 13 годині також велика кількіть покупок через те що - це обідня перерва і багато людей роюлять покупки і обід поки є вільний час.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [28]:
average_total_by_city = df.groupby('City')['Total'].mean()
print(average_total_by_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [29]:
city_stats = df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])
print(city_stats)

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

Кількість покупок: Допоможе визначити, в яких містах є найбільша активність покупців. Ця інформація може бути корисною для розподілу рекламних бюджетів та стратегії маркетингу.

Середня сума чеку: Допоможе зрозуміти, які міста мають середньо вищий чи нижчий рівень витрат покупців. Це може бути важливо для розробки цінової політики та стратегії продажів.

Мінімальна та максимальна сума чеку: Надасть інформацію про діапазон витрат покупців у різних містах. Це може бути корисно для аналізу споживчих уподобань та виявлення потенційних можливостей для збільшення продажів.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [41]:
df.to_csv('supermarket_sales_enriched.csv', index=False)