#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [12]:
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [13]:
branch_profit = df.groupby('Branch')['Total'].sum()
print(branch_profit)

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª - –°

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [14]:
branch_C_cities = df[df['Branch'] == 'C']['City'].unique()
print("–ú—ñ—Å—Ç–æ –∑ —Ñ—ñ–ª—ñ–∞–ª–æ–º 'C':", branch_C_cities)

–ú—ñ—Å—Ç–æ –∑ —Ñ—ñ–ª—ñ–∞–ª–æ–º 'C': ['Naypyitaw']

In [15]:

unique_branches_in_city_C = df[df['City'] == branch_C_cities[0]]['Branch'].unique()

num_unique_branches_in_city_C = len(unique_branches_in_city_C)

total_branches_in_city_C = len(df[df['City'] == branch_C_cities[0]])

if num_unique_branches_in_city_C < total_branches_in_city_C:
    print(f"–¢–∞–∫, –º–æ–∂–Ω–∞ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω —É –º—ñ—Å—Ç—ñ '{branch_C_cities[0]}'.")
else:
    print(f"–ù—ñ, –Ω–µ –º–æ–∂–Ω–∞ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω —É –º—ñ—Å—Ç—ñ '{branch_C_cities[0]}'.")

–¢–∞–∫, –º–æ–∂–Ω–∞ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω —É –º—ñ—Å—Ç—ñ 'Naypyitaw'.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [18]:
invoices_by_category = df.groupby(['Branch','Product line'])['Invoice ID'].count().reset_index()
invoices_by_category

   Branch            Product line  Invoice ID
0       A  Electronic accessories          60
1       A     Fashion accessories          51
2       A      Food and beverages          58
3       A       Health and beauty          47
4       A      Home and lifestyle          65
5       A       Sports and travel          59
6       B  Electronic accessories          55
7       B     Fashion accessories          62
8       B      Food and beverages          50
9       B       Health and beauty          53
10      B      Home and lifestyle          50
11      B       Sports and travel          62
12      C  Electronic accessories          55
13      C     Fashion accessories          65
14      C      Food and beverages          66
15      C       Health and beauty          52
16      C      Home and lifestyle          45
17      C       Sports and travel          45

In [19]:
invoices_by_category.pivot_table(index = 'Branch',columns = 'Product line', values = 'Invoice ID')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [23]:
invoices_by_category[invoices_by_category['Product line']=='Electronic accessories'].max()

Branch                               C
Product line    Electronic accessories
Invoice ID                          60
dtype: object

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ß–∞—Å–æ–≤—ñ –ø—ñ–∫–∏ –ø–æ–∫—É–ø–æ–∫: –ß–∏ —î —á–∞—Å–æ–≤—ñ –ø—Ä–æ–º—ñ–∂–∫–∏, –∫–æ–ª–∏ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫? –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —á–∏ –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è –≤ —Ä–∞–Ω–∫–æ–≤–∏–π —á–∞—Å –∞–±–æ –≤–µ—á–æ—Ä–æ–º?

–ü–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å —Ä—ñ–∑–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ –∑–∞ –º—ñ—Å—Ç–∞–º–∏: –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —î –Ω–∞–π–±—ñ–ª—å—à –ø–æ–ø—É–ª—è—Ä–Ω–∏–º–∏ —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö? –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —á–∏ –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–∏ –≤ –æ–¥–Ω–æ–º—É –º—ñ—Å—Ç—ñ –ø–æ—Ä—ñ–≤–Ω—è–Ω–æ –∑ —ñ–Ω—à–∏–º?

–ì–µ–Ω–¥–µ—Ä–Ω–∏–π –∞–Ω–∞–ª—ñ–∑: –ß–∏ —ñ—Å–Ω—É—î –∫–æ—Ä–µ–ª—è—Ü—ñ—è —Å—É–º–æ—é –¥–æ—Ö–æ–¥—É —ñ –≥–µ–Ω–µ–¥–µ—Ä–æ–º? –Ü –º–æ–∂–ª–∏–≤–æ —Ç—Ä–µ–±–∞ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –∑–∞ –≥–µ–Ω–µ–¥—Ä–æ–º.

In [24]:
### —á–∞—Å–æ–≤—ñ –ø—ñ–∫–∏ –ø–æ–∫—É–ø–æ–∫

hourly_purchase_counts = df.groupby(df['Time'].str.split(':').str[0])['Invoice ID'].count()
print(hourly_purchase_counts)

Time
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Invoice ID, dtype: int64

–û–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—è –≥—Ä–∞—Ñ—ñ–∫—É —Ä–æ–±–æ—Ç–∏: –ù–∞–º–∏ –±—É–ª–æ –≤–∏—è–≤–ª–µ–Ω–æ —á–∞—Å–æ–≤—ñ –ø—ñ–∫–∏ - 10,13,15 –≥–æ–¥–∏–Ω–∞ —Ä–∞–Ω–∫—É —ñ 19 –≥–æ–¥–∏–Ω–∞ –≤–µ—á–æ—Ä–∞, –±—ñ–∑–Ω–µ—Å –º–æ–∂–µ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–µ—Ä—Å–æ–Ω–∞–ª—É –∞–±–æ –ø—Ä–æ–≤–µ–¥–µ–Ω–Ω—è –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∞–∫—Ü—ñ–π —É —Ü–µ–π –ø–µ—Ä—ñ–æ–¥.

In [26]:
#–ü–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å —Ä—ñ–∑–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ –∑–∞ –º—ñ—Å—Ç–∞–º–∏
category_city_sales = df.groupby(['Product line', 'City'])['Quantity'].sum()
category_city_gross_income = df.groupby(['Product line', 'City'])['gross income'].sum()
print(category_city_gross_income)

Product line            City
Electronic accessories  Mandalay      811.9735
                        Naypyitaw     903.2845
                        Yangon        872.2435
Fashion accessories     Mandalay      781.5865
                        Naypyitaw    1026.6700
                        Yangon        777.7385
Food and beverages      Mandalay      724.5185
                        Naypyitaw    1131.7550
                        Yangon        817.2905
Health and beauty       Mandalay      951.4600
                        Naypyitaw     791.2060
                        Yangon        599.8930
Home and lifestyle      Mandalay      835.6745
                        Naypyitaw     661.6930
                        Yangon       1067.4855
Sports and travel       Mandalay      951.8190
                        Naypyitaw     750.5680
                        Yangon        922.5095
Name: gross income, dtype: float64

–ê—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤: –ó–Ω–∞–Ω–Ω—è –ø–æ–ø—É–ª—è—Ä–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –¥–æ–ø–æ–º–æ–∂–µ –±—ñ–∑–Ω–µ—Å—É –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ–∂–Ω–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –ø–æ–ø–∏—Ç—É –ø–æ–∫—É–ø—Ü—ñ–≤. –¢–∞–∫ –Ω–∞–ø—Ä–∏–∫–ª–∞–¥ –º–∏ –±–∞—á–∏–º–æ —â–æ –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ñ–µ—à–Ω –º–∞ –º–∞—î–º–æ –ø–æ –¥—Ä—É–≥–æ–º—É –º—ñ—Å—Ç—É - –æ—Ç–∂–µ –º–æ–∂–ª–∏–≤–æ —Ç—É—Ç –º–∏ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –∑–±—ñ–ª—å—à—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, –∞ —è–∫—â–æ –≤ —ñ–Ω—à–∏—Ö –º—ñ—Å—Ç–∞—Ö –±—ñ–ª—å—à –¥–æ—Ö—ñ–¥–Ω—ñ —ñ–Ω—à—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –æ—Ç–∂–µ –º–∏ —Ä–æ–±–∏–º–æ –∞–∫—Ü–µ–Ω—Ç –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ –Ω–∞ –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ç–æ–≤–∞—Ä—ñ–≤. –¢–∞ –¥—Ä—É–≥–∏–π –ø—ñ–¥—Ö–∏–¥ - –ø—ñ—Å–ª—è –≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏—Ö –≥—Ä—É–ø —Ç–æ–≤–∞—Ä—ñ–≤ - –º–æ–∂–µ–º–æ –∑–±—ñ–ª—å—à—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó –Ω–∞ —Ü—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –≤ —Ç–∏—Ö –º—ñ—Å—Ç–∞—Ö - –¥–µ –≤–æ–Ω–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –º–µ–Ω—à–∏–π –¥–æ—Ö—ñ–¥ —ñ –∑–±—ñ–ª—å—à–∏—Ç–∏ —Ç–∞–º –¥–æ—Ö—ñ–¥.

In [27]:
#–ì–µ–Ω–¥–µ—Ä–Ω–∏–π –∞–Ω–∞–ª—ñ–∑
male_data = df[df['Gender'] == 'Male']
female_data = df[df['Gender'] == 'Female']

male_income = male_data['gross income'].sum()
female_income = female_data['gross income'].sum()

# –ó–≥—Ä—É–ø—É–≤–∞–Ω–Ω—è –∑–∞ —Ç–∏–ø–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –ø—ñ–¥—Ä–∞—Ö—É–Ω–∫—É —Å—É–º–∞—Ä–Ω–æ–≥–æ –¥–æ—Ö–æ–¥—É –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ç–∏–ø—É —Ç–æ–≤–∞—Ä—ñ–≤
male_category_income = male_data.groupby('Product line')['gross income'].sum()
female_category_income = female_data.groupby('Product line')['gross income'].sum()

# –í–∏–≤–µ–¥–µ–Ω–Ω—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤
print("–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤:", male_income)
print("–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –¥–ª—è –∂—ñ–Ω–æ–∫:", female_income)

print("\n–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Ç–∏–ø–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤:")
print(male_category_income)

print("\n–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Ç–∏–ø–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∂—ñ–Ω–æ–∫:")
print(female_category_income)

–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤: 7384.944
–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –¥–ª—è –∂—ñ–Ω–æ–∫: 7994.424999999999

–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Ç–∏–ø–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤:
Product line
Electronic accessories    1296.9290
Fashion accessories       1136.5950
Food and beverages        1093.9965
Health and beauty         1458.7025
Home and lifestyle        1134.5255
Sports and travel         1264.1955
Name: gross income, dtype: float64

–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –∑–∞ —Ç–∏–ø–∞–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∂—ñ–Ω–æ–∫:
Product line
Electronic accessories    1290.5725
Fashion accessories       1449.4000
Food and beverages        1579.5675
Health and beauty          883.8565
Home and lifestyle        1430.3275
Sports and travel         1360.7010
Name: gross income, dtype: float64

–°—É–º–∞—Ä–Ω–∏–π –¥–æ—Ö—ñ–¥ –≤–∏—â–∏–π –Ω—ñ–∂ —É —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —ñ –æ—Å–Ω–æ–≤–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø–æ —è–∫–∏–º –Ω–∞–π–≤–∏—â–∏–π –¥–æ—Ö—ñ–¥ - —ó–∂—ñ - –æ–¥–∂–µ –∑–Ω–∞—á–∏—Ç –∂—ñ–Ω–∫–∏ –ø—Ä–æ—Å—Ç–æ —á–∞—Å—Ç—ñ—à–µ —Ä–æ–±–ª—è—Ç—å –∑–∞–∫—É–ø–∏ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ - —Å–∞–º–µ —Ç–æ–º—É —Ç—É—Ç –Ω–∞–π–≤–∏—â–∏–π –¥–æ—Ö—ñ–¥ - –æ–¥–∂–µ –º–æ–∂–ª–∏–≤–æ –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –∑—Ä–æ–±–∏—Ç–∏ –¥–ª—è –∂—ñ–Ω–æ–∫ —è–∫—ñ—Å—å –±—ñ–ª—å—à –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω—ñ –∞–∫—Ü—ñ—ó —Å–∞–º–µ –Ω–∞ —Ü—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ - –º–æ–∂–ª–∏–≤–æ —Ä–æ–∑–¥–∞–≤–∞—Ç–∏ –∞–∫—Ü—ñ–π–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∂—ñ–Ω–∫–∞–º –Ω–∞ –∫–∞—Å—ñ –¥–ª—è –Ω–∞—Å—Ç—É–ø–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫. –ü–æ —á–æ–ª–æ–≤—ñ–∫–∞–º –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ - Health and beauty –∞ —Ç–∞–∫–æ–∂ –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–∞ —ñ —Å–ø–æ—Ä—Ç —Ç–æ–≤–∞—Ä–∏ - –æ—Ç–¥–∂–µ –≤ –ø–æ–¥–∞–ª—å—à–æ–º—É —â–µ –º–æ–∂–ª–∏–≤–æ –ø–æ–¥–∏–≤–∏—Ç–∏—Å –≤ —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö –±—ñ–ª—å—à–µ —Ä–æ–±–ª—è—Ç—å –ø–æ–∫—É–ø–∫–∏ —á–æ–ª–æ–≤—ñ–∫–∏ —ñ —Ç–∞–º –∑—Ä–æ–±–∏—Ç–∏ –∞–∫—Ü–µ–Ω—Ç –Ω–∞ —Ü–∏—Ö –≥—Ä—É–ø–∞—Ö —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ. –¢–∞–∫ —Å–∞–º–æ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ —ñ –¥–ª—è –∂—ñ–Ω–æ–∫.